.classA{
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB{
    width: 100%;
    overflow: hidden;
    height: 480px;
}

.photo-column{
    background-color: violet;
    width: 900px;
}

  #photo-gallery{
      background-color: darkblue;
      width: 900px;
  }

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: rgb(221, 200, 190);
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: rgb(158, 118, 99);
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px){
    #photo.gallery{
        margin-top: 20px;
        width: 100%;
        height: 3600px;
    }

    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    #photo.gallery{
        margin-top: 20px;
        width: 100%;
        height: 1800px;
    }

    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px){
    #photo.gallery{
        margin-top: 20px;
        width: 100%;
        height: 900px;
    }

    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}